* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left,
.right {
    background-color: aquamarine;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

@media (max-width: 1023px) {
    .item {
        margin-top: 16px;
    }
}