* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #fff;
}

.title:hover img {
    cursor: pointer;
    opacity: 0.8;
    transition: transform 1s ease;
    transform: scale(1.1);
}

html {
    background-color: #170F23;;
}

img {
    border-radius: 10px;
    margin-left: 10px;
}

/*  */
.player .icon-pause {
    display: none;
}

.playing .icon-pause {
    display: block;
}

.playing .icon-play {
    display: none;
}

.player .button__pause {
    display: none;
}

.playing .button__pause {
    display: block;
}

.playing .button__play {
    display: none;
}

/*  */
.dashboard {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.left .left-content {
    position: fixed;
}

.header {
    margin-top: 15px;
    margin-left: 50px;
    color: white;
}

.header .button__pause,
.header .button__play {
    margin-top: 20px;
    margin-left: 35px;
    width: 160px;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    background-color: #9B4DE0;
    border-radius: 12px;
    border: 1px solid #9B4DE0;
}

.header .button__pause i,
.header .button__play i{
    margin-left: 5px;
    margin-right: 5px;
}

.header .button__pause:hover,
.header .button__play:hover {
    cursor: pointer;
}

.header h4 {
    margin-left: 50px;
    line-height: 2;
}

.header h2 {
    margin-left: 20px;
}

.right {
    width: 73%;
    display: flex;
    flex-direction: column;
}

.right-playlist {
    width: 90%;
    margin-top: -32px;
}

.right-playlist p {
    color: #8B8791;
}

.playlist-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsla(0,0%,100%,0.1);
    line-height: 2;
}

.song {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-bottom: 1px solid hsla(0,0%,100%,0.1);
}

.song:active {
    opacity: 0.8;
}

.song-playlist {
    display: flex;
    margin-bottom: 7px;
}

.playlist .song:hover {
    cursor: pointer;
    background-color: #2F2739;
}

.times {
    margin-top: 20px;
    margin-right: 10px;
}

.body {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body .title {
    color: white;
}

.control-music {
    width: 100%;
    height: 110px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    /* border-top: 1px solid hsla(0,0%,100%,0.1); */
    align-items: center;
    background-color: #130C1C;
}

.control-playlist {
    display: flex;
    align-items: center;
}

.control-body {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    line-height: 1.5;
}

.control-body h3 {
    color: white;
}

.control-body p {
    color: #8B8791;
}

.control-left {
    width: 45%;
}

.control-right {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.control-btn {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.control-btn__audio {
    height: 10px;
}

.btn i {
    font-size: 28px;
    padding: 10px 20px;
    border-radius: 30%;
}

.btn .fas {
    color: #8B8791;
}

.btn:hover i {
    cursor: pointer;
    background-color: #3D3837;
}

.control-thumb {
    background-size: contain;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.progress {
    width: 60%;
    height: 8px;
    display: flex;
    margin: 10px auto auto auto;
    accent-color: #9B4DE0;
    opacity: 0.6;
}

.progress:hover {
    cursor: pointer;
}

.active {
    color: white;
}

