/* Mobile: 0 - 739px => grid width = 100% - hiển thị toàn màn hình. */
/* Mobile */
@media (max-width: 739px) {
    .grid {
        width: 100%;
    }

    .right {
        width: 100%;
        margin-top: 50px;
        margin-right: -30px;
        margin-bottom: 70px;
    }

    .left .left-content {
        position: relative;
    }

    .dashboard {
        display: flex;
        justify-content: center;
    }

    .control-music {
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .control-left {
        margin-left: -50px;
    }

    .control-right {
        margin-left: -160px;
    }

    .btn i {
        font-size: 10px;
    }

    .control-btn__audio {
        margin-left: -55px;
    }

    .first-time {
        margin-left: 115px;
    }

    .last-time {
        margin-right: -35px;
    }
}

/* Tablet: 740px - 1023px => grid width = 644px. */
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .grid {
        width: 644px;
    }

    .right {
        width: 100%;
        margin-top: 50px;
        margin-right: -70px;
        margin-bottom: 70px;
    }

    .left .left-content {
        position: relative;
    }

    .dashboard {
        display: flex;
        justify-content: center;
        padding: 50px 0;
    }

    /*  */
    .control-music {
        height: 80px;
        padding: 0 10px;
    }

    .btn i {
        font-size: 24px;
    }

    .control-btn {
        margin-left: 50px;
    }

    .control-btn__audio {
        margin-left: -80px;
    }

    .first-time {
        margin-left: 90px;
    }

    .control-thumb {
        width: 60px;
        height: 60px;
        animation: thumb linear .8s;
    }

    @keyframes thumb {
        from {
            width: 70px;
            height: 70px;
        }

        to {
            width: 60px;
            height: 60px;
        }
    }
}

/* PC độ phân giải thấp: 1024px - 1239px = 984px. */
/* PC - low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .grid {
        width: 984px;
    }

    .left .left-content {
        margin-left: -24px;
    }

    .title img {
        animation: fadeIn linear .5s;
        width: 245px;
        height: 245px;
    }

    .header {
        margin-left: 25px;
    }

    @keyframes fadeIn {
        from {
            width: 300px;
            height: 300px;
        }

        to {
            width: 245px;
            height: 245px;
        }
    }

    .control-music {
        height: 80px;
        padding: 0 10px;
    }

    .btn i {
        font-size: 24px;
    }

    .control-btn__audio {
        height: 25px;
        margin-left: -50px;
    }

    .control-thumb {
        width: 70px;
        height: 70px;
        animation: thumb linear .8s;
    }

    @keyframes thumb {
        from {
            width: 80px;
            height: 80px;
        }

        to {
            width: 70px;
            height: 70px;
        }
    }

    .control-body {
        font-size: 15px;
    }
}

/* PC độ phân giải cao (dạng mặc định khi chưa tiến hành responsive): 1240px - 1600px = 1440px. */
/* PC - modern resolution */
@media (min-width: 1240px)  and (max-width: 1450px){
    .grid {
        width: 1440px;
    }

    .dashboard {
        margin: 0 0 0 100px;
    }

    .title img {
        animation: fadeIn linear .5s;
    }

    .right {
        padding-left: 50px;
    }

    .control-btn__audio {
        margin-left: -35px;
    }
}